{% extends 'layout.html' %}

{% block content %}

<div class="container my-4">
    <div class="row">
        <div class="col-md-6">
            <!--Insert prediciton interface here.-->
        </div>

        <div class="col-md-6 d-flex flex-column justify-content-center">
            <div class="row">
                <div class="col-md-12 text-center">
                    <img src="../static/images/thinking_tomato.png" alt="Tommy the Tomato" class="img-fluid">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <h3 class="mt-3">I'm 90% sure it is a Bean!</h3>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}
