{% extends 'layout.html' %}

{% block content %}

<div class="container my-4">
    <div class="row">
        <div class="col-md-6">
            <form method="post" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                
                {{ form.photo(class_='form-control') }}

                {% for error in form.photo.errors %}
                    <span>{{error}}</span>
                {% endfor %}

                {{ form.submit(class_='btn btn-primary') }}
            </form>
            {% if file_url is not none %}
                <div class="mt-5">
                    <img src="{{ file_url }}" style="width: 30vw" alt="">
                </div>
            {% endif %}
        </div>

        <div class="col-md-6 d-flex flex-column justify-content-center">
            <div class="row">
                <div class="col-md-12 text-center">
                    <img src="../static/images/thinking_tomato.png" alt="Tommy the Tomato" class="img-fluid">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <h3 class="mt-3">I'm 90% sure it is a Bean!</h3>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}
